name: Build Versioned Images

on:
  push:
    branches:
      - main
    paths:
      - "build/**"
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false 
      matrix:
        include:
          # - version: "0.9.2.0"
          #   tag: >
          #     soupbowl/opensimulator:0.9.2.0,
          #     ghcr.io/${{ github.repository }}:0.9.2.0,
          #   folder: build/latest
          #   file: Dockerfile.mono
          #   platforms: linux/amd64,linux/arm64
          # - version: "0.9.2.1"
          #   tag: >
          #     soupbowl/opensimulator:0.9.2.1,
          #     ghcr.io/${{ github.repository }}:0.9.2.1,
          #   folder: build/latest
          #   file: Dockerfile.mono
          #   platforms: linux/amd64,linux/arm64
          # - version: "0.9.2.2"
          #   tag: >
          #     soupbowl/opensimulator:0.9.2,
          #     soupbowl/opensimulator:0.9.2.2,
          #     ghcr.io/${{ github.repository }}:0.9.2,
          #     ghcr.io/${{ github.repository }}:0.9.2.2,
          #   folder: build/latest
          #   file: Dockerfile.mono
          #   platforms: linux/amd64,linux/arm64
          - version: "0.9.3.0"
            tag: >
              soupbowl/opensimulator:latest,
              soupbowl/opensimulator:0.9,
              soupbowl/opensimulator:0.9.3,
              soupbowl/opensimulator:0.9.3.0,
              ghcr.io/${{ github.repository }}:latest,
              ghcr.io/${{ github.repository }}:0.9,
              ghcr.io/${{ github.repository }}:0.9.3,
              ghcr.io/${{ github.repository }}:0.9.3.0,
            folder: build/latest
            file: Dockerfile
            platforms: linux/amd64,linux/arm64
          - version: "0.9.3.0"
            tag: >
              soupbowl/opensimulator:0.9.3-noscreen,
              soupbowl/opensimulator:0.9.3.0-noscreen,
              ghcr.io/${{ github.repository }}:0.9.3-noscreen,
              ghcr.io/${{ github.repository }}:0.9.3.0-noscreen,
            folder: build/latest
            file: Dockerfile.noscreen
            platforms: linux/amd64,linux/arm64

    steps:
      - name: Checkout Codebase
        uses: actions/checkout@v4

      - name: Login to GitHub CR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_SECRET }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Container
        uses: docker/build-push-action@v5
        with:
          push: true
          context: "{{defaultContext}}:${{ matrix.folder }}"
          tags: ${{ matrix.tag }}
          platforms: ${{ matrix.platforms }}
          file: "${{ matrix.file }}"
          build-args: |
            OPENSIM_VERSION=${{ matrix.version }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
